// @import "variables";
.aboutMain {
    padding: 180px 24px 8px;
    & .aboutdetail {
        font-size: 20px;
        font-weight: 500;
        color: $theming2;
    }
    & .aboutdata {
        font-size: 13px;
        color:#9e9bb4 ;
        font-weight: 400;
    }
    & .aboutusImg {
        height: 320px;
        margin-top: 20px;
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .aboutMain {
        padding: 160px 24px 10px;
        & .aboutdetail {
            font-size: 19px;
        }
        & .aboutdata {
            // font-size: 12px;
        }
        & .aboutusImg {
            // height: 250px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .aboutMain {
        padding: 150px 22px 10px;
        & .aboutdetail {
            font-size: 18px;
            // line-height: 18px;
        }
        & .aboutdata {
            // font-size: 12px;
        }
        & .aboutusImg {
            height: 300px;
        }
    }
}

@include media-breakpoint-down(md) {
    .aboutMain {
        padding: 125px 18px 15px;
        & .aboutdetail {
            font-size: 17px;
        }
        & .aboutdata {
        }
        & .aboutusImg {
            height: 280px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .aboutMain {
        padding: 105px 15px 20px;
        & .aboutdetail {
            font-size: 16px;
            line-height: 18px;
        }
        & .aboutdata {
            font-size: 12px;
        }
        & .aboutusImg {
            height: 250px;
        }
    }
}
