.heading {
    font-size:25px ;
    font-weight: 600;
    color: $theming2;
    white-space: nowrap;
}
.headingTitle {
    color: rgb(235, 148, 68);
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(235, 149, 68, 0.148);
    padding: 2px 12px;
    gap: 5px;
    white-space: nowrap;
    & span {
        height: 7px;
        width: 7px;
        background-color: rgb(235, 148, 68);
    }
    &.headingTitleGreen {
        color: $theming3;
        background-color: lighten($theming3, 43);
        & span {
            background-color: $theming3;
        }
    }
}
.subHeading {
    font-size: 12px;
    font-weight:600;
    letter-spacing: 1.5px;
    line-height: normal;
    color: $theming2;
    border-bottom: 1.8px solid $theming2;
    padding-bottom: 5px;
}
.para {
    font-size:14px ;
    font-weight: 400;
    color: #6d688ed6;
    line-height: normal;
}

.pageHeading {
    font-size: 85px;
    font-weight: 600;
    color: $theming2;
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .heading {
    }
    .headingTitle {
        & span {
        }
        &.headingTitleGreen {
            & span {
            }
        }
    }
    .subHeading {
    }
    .para {
    }
    .pageHeading {
        font-size: 80px;
    }
}

@include media-breakpoint-down(lg) {
    .heading {
        font-size: 22px;
    }
    .headingTitle {
        font-size: 13px;
        & span {
        }
        &.headingTitleGreen {
            & span {
            }
        }
    }
    .subHeading {
        // font-size: 11px;
    }
    .para {
        font-size: 13px;
    }
    .pageHeading {
        font-size: 65px;
    }
}

@include media-breakpoint-down(md) {
    .heading {
        font-size: 18px;
    }
    .headingTitle {
        font-size: 12px;
        & span {
        }
        &.headingTitleGreen {
            & span {
            }
        }
    }
    .subHeading {
        font-size: 11px;
    }
    .para {
    }
    .pageHeading {
        font-size: 60px;
    }
}

@include media-breakpoint-down(sm) {
    .heading {
        font-size: 16px;
        padding-left: 5px;
    }
    .headingTitle {
        font-size: 10px;
        & span {
        }
        &.headingTitleGreen {
            & span {
            }
        }
    }
    .subHeading {
        font-size: 11px;
        display: none;
    }
    .para {
        font-size: 12px;
    }
    .pageHeading {
        font-size: 40px;
    }
}
