@charset "UTF-8";

.logoSection {
    // padding: 44px 25px;
    & .logoMain {
        & .logoImg {
            height: 100px;
            padding: 20px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: #FFF;
                transform: scale(1.1);
            }
        }
        & .logoImgtwo {
            height: 100px;
            padding: 20px;
            transition: all 0.3s ease-in-out;
            background-color: #FFF;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .logoSection {
        // padding: 44px 22px;
        & .logoMain {
            & .logoImg {
                &:hover {
                }
            }
            & .logoImgtwo {
                &:hover {
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .logoSection {
        // padding: 28px 18px;
        & .logoMain {
            & .logoImg {
                &:hover {
                }
            }
            & .logoImgtwo {
                &:hover {
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .logoSection {
        // padding: 22px 15px;
        & .logoMain {
            & .logoImg {
                &:hover {
                }
            }
            & .logoImgtwo {
                &:hover {
                }
            }
        }
    }
}
