.navbar {
    box-shadow: 20px 40px 30px rgba(39, 35, 67, 0.02);
    height: 80px;
    left: 15px;
    // margin: 0 0 0 0;
    padding: 0px 20px 0px;
    // position: fixed;
    right: 15px;
    top: 15px;
    width: auto;
    z-index: 5;
    max-width: 100%;
    & .navlogo {
        width: 120px;
    }
    & .navbar-toggler {
        & .menuIcon {
            height: 25px;
        }
    }
    & .navbar-nav {
        gap: 30px;
        & .exploreBtn {
            font-size: 17px;
            font-weight: 600;
            background: #f7f8fa;
            padding: 9px 28px !important;
            gap: 20px;
            color: $theming1;
            transition: all 0.3s ease-in-out;
            & .dots {
                height: 7px;
                width: 7px;
                background-color: $theming1;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                background-color: $theming1;
                color: #fff;
                & .dots {
                    background-color:#fff ;
                }
            }
        }
        & .navmainLink {
            font-size: 17px;
            color: $theming2;
            &::before {
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                background-color: $theming2;
                height: 2px;
                width: 0;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    & .navsocial {
        height: 45px;
        width: 45px;
        background: #f7f8fa;
        transition: all 0.3s ease-in-out;
        padding: 15px;
        & img {
            transition: all 0.3s ease-out;
        }
        &:hover {
            background-color: $theming2;
            & img {
                filter:brightness(10);
            }
        }
    }
    & .addproduct {
        font-size: 17px;
        font-weight: 600;
        color: #fff;
        background-color: $theming1;
        padding: 10px 26px;
        gap: 30px;
        line-height: normal;
        transition: all 0.3s ease-in-out;
        & span {
            // font-size: 18;
            margin-bottom: 2px;
        }
        &:hover {
            background-color: $theming2;
            color: #fff;
        }
    }
    & .btn-close {
        font-size: 14px;
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .navbar {
        height: 70px;
        & .navlogo {
            width: 110px;
        }
        & .navbar-toggler {
            & .menuIcon {
                // height: 2px;
            }
        }
        & .navbar-nav {
            gap: 0;
            & .exploreBtn {
                font-size: 16px;
                & .dots {
                }
                &:hover {
                    & .dots {
                    }
                }
            }
            & .navmainLink {
                font-size: 16px;
                &::before {
                }
                &:hover {
                    &::before {
                    }
                }
            }
        }
        & .navsocial {
            height: 45px;
            width: 45px;
            padding: 15px;
            & img {

            }
            &:hover {
                & img {
                }
            }
        }
        & .addproduct {
            font-size: 16px;
            width: 100%;
            & span {
            }
            &:hover {
            }
        }
        & .navbar-offcanvas {
            max-width: 340px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .navbar {
        height: 70px;
        & .navlogo {
            width: 110px;
        }
        & .navbar-toggler {
            & .menuIcon {
                // height: 2px;
            }
        }
        & .navbar-nav {
            gap: 0;
            & .exploreBtn {
                font-size: 16px;
                & .dots {
                }
                &:hover {
                    & .dots {
                    }
                }
            }
            & .navmainLink {
                font-size: 16px;
                &::before {
                }
                &:hover {
                    &::before {
                    }
                }
            }
        }
        & .navsocial {
            height: 45px;
            width: 45px;
            padding: 15px;
            & img {

            }
            &:hover {
                & img {
                }
            }
        }
        & .addproduct {
            font-size: 16px;
            width: 100%;
            & span {
            }
            &:hover {
            }
        }
        & .navbar-offcanvas {
            max-width: 340px;
        }
    }
    
}

@include media-breakpoint-down(md) {
    .navbar {
        height: 70px;
        & .navlogo {
            width: 110px;
        }
        & .navbar-toggler {
            & .menuIcon {
                // height: 2px;
            }
        }
        & .navbar-nav {
            gap: 0;
            & .exploreBtn {
                font-size: 15px;
                & .dots {
                }
                &:hover {
                    & .dots {
                    }
                }
            }
            & .navmainLink {
                font-size: 15px;
                &::before {
                }
                &:hover {
                    &::before {
                    }
                }
            }
        }
        & .navsocial {
            & img {

            }
            &:hover {
                & img {
                }
            }
        }
        & .addproduct {
            font-size: 15px;
            // width: 100%;
            & span {
            }
            &:hover {
            }
        }
        & .navbar-offcanvas {
            max-width: 300px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar {
        height: 60px;
        & .navlogo {
            width: 100px;
        }
        & .navbar-toggler {
            & .menuIcon {
                height: 23px;
            }
        }
        & .navbar-nav {
            gap: 0;
            & .exploreBtn {
                font-size: 14px;
                & .dots {
                }
                &:hover {
                    & .dots {
                    }
                }
            }
            & .navmainLink {
                font-size: 14px;
                &::before {
                }
                &:hover {
                    &::before {
                    }
                }
            }
        }
        & .navsocial {
            height: 40px;
            width: 40px;
            padding: 14px;
            & img {

            }
            &:hover {
                & img {
                }
            }
        }
        & .addproduct {
            font-size: 14px;
            & span {
            }
            &:hover {
            }
        }
        & .btn-close {
            font-size: 12px;
        }
    }
    
}
