
.privacyPolicy {
    padding: 44px 24px 0;
    & .productCard {
        & .productImg {
            aspect-ratio: 5/2;
        }
    }
    & .privacyHeading {
        font-size: 24px;
        color: $theming2;
        font-weight:600;
        line-height: 32px;
        & span {
            color: $theming1;
        }
    }
    & .privacyData {
        font-size: 13px;
        line-height: 24px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .privacyPolicy {
        padding: 30px 22px 0;
        & .productCard {
            & .productImg {
            }
        }
        & .privacyHeading {
            font-size: 22px;
            line-height: 30px;
            & span {
            }
        }
        & .privacyData {
            // font-size: 12px;
            // line-height: 21px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

@include media-breakpoint-down(md) {
    .privacyPolicy {
        padding: 18px 18px 0;
        & .productCard {
            & .productImg {
            }
        }
        & .privacyHeading {
            font-size: 20px;
            line-height: 28px;
            & span {
            }
        }
        & .privacyData {
            // font-size: 12px;
            // line-height: 21px;
            padding-top: 18px;
            padding-bottom: 19px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .privacyPolicy {
        padding: 18px 15px 0;
        & .productCard {
            & .productImg {
            }
        }
        & .privacyHeading {
            font-size: 18px;
            line-height: 26px;
            & span {
            }
        }
        & .privacyData {
            font-size: 12px;
            line-height: 21px;
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
}
