.sellingSetion {
    background: linear-gradient(135deg, #3361ff, #7f57f1);
    padding: 100px 0;
    // z-index: 1;
    margin: 42px 0px;
    border-radius: 6px;
    &.aboutSeliing {
        margin: 75px 0 42px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/index/sellingbg);
        z-index: -1;
        border-radius: 6px;
    }
    & .line {
        width: 200px;
        height: 1.5px;
        background-color: #fff;
    }
    & .linetwo {
        width: 20px;
        height: 1.5px;
        background-color: #fff;
    }
    & .sellingHeading {
        font-size: 34px;
        font-weight: 700;
        color: #fff;
        line-height: 38px;
    }
    & .shape {
        height: 40px;
        width: 50%;
        top: -20px;
        background: linear-gradient(260deg, #3361ff, #7f57f1);
        border-top-left-radius: 6px;
    }
    & .sellingImg {
        height: 80px;
        width: 80px;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .sellingSetion {
        padding: 95px 0;
        &::before {
        }
        & .line {
        }
        & .linetwo {
        }
        & .sellingHeading {
            font-size: 30px;
        }
        & .shape {
        }
        & .sellingImg {
        }
    }
}

@include media-breakpoint-down(md) {
    .sellingSetion {
        padding: 75px 0;
        &::before {
        }
        & .line {
        }
        & .linetwo {
        }
        & .sellingHeading {
            font-size: 28px;
        }
        & .shape {
        }
        & .sellingImg {
        }
    }
}

@include media-breakpoint-down(sm) {
    .sellingSetion {
        padding: 65px 0 50px 0;
        // margin: 35px 0;
        &::before {
        }
        & .line {
        }
        & .linetwo {
        }
        & .sellingHeading {
            font-size: 25px;
        }
        & .shape {
            height: 35px;
            top: -18px;
        }
        & .sellingImg {
            height: 70px;
            width: 70px;
            top: -35px;
        }
    }
    
}
